.banner{
    background-image: url('../../../images/banner.jpeg');
    height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .banner{
        background-image: url('../../../images/banner.jpeg');
        height: 100%;
        background-size: 100% 100%;
        
        background-repeat: no-repeat;
    }
}